@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body{
	font-family: arial;
	background: none;
	 
	}
     		.bg{
				width: 100%;
				height: 100vh;
				background-image: linear-gradient(to top, #4573f3c7 0%, #fdb838 100%);
			    background-repeat:no-repeat; 
				background-size: cover;
				display: flex; 
				justify-content: center;
				align-items: center;

				}

				.content{
					margin: 10px;
					width: 90%;
					height: 70%;
					position: fixed;
					display: flex;
					justify-content: center;
					align-items: center;

						}

							.klomom{

								margin: 10px;
								width: 30%;
								height: 85%; 
								display: flex;
								justify-content: center;
								align-items: center;
								flex-wrap: wrap;
								border-radius: 10px;
								overflow: hidden;
								opacity: 0.8;
								transition: 0.2s ease;


								}

								.klomom:hover{
									width: 30%;
									height: 100%
								}

								.img {
                                    width: auto;
									height: 100;
								transition: 2s;

								}

								.img:hover{
									transform: rotate(40deg);

								}


								.color1{
								width: 100%;
								height: 50%;
								background-color:#FFE259;
								display: flex;
								justify-content: center;
								align-items: center; 

								}


								
								.color2{
								width: 100%;
								height: 15%;
								background-color: #FFC255; 
								display: flex;
								justify-content: center;
								align-items: center;

								}

								.color3{
								width: 100%;
								height: 40%;
								background-color: #FFA751 ; 
								display: flex;
								justify-content: center;
								align-items: center;

								}

								.parrafo{
								width: auto;
								height: auto;
								text-align: center;
								 

								}

								footer{
									background-color: #fff;
									height: 10vh;
									position: relative;
								}
                                .h1{
                                    text-transform: capitalize;
                                    font-size: auto;
                                     font-weight: 600;
                                     letter-spacing: 1px;
                                    color: var(--title-bg);
                                    background-color: none;
                                }


			.bgf{
				width: 100%;
				height: 100vh;
				background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
				 url(https://thumbs.gfycat.com/FilthyVacantDamselfly-size_restricted.gif); 
			    background-repeat:no-repeat;
			    background-attachment: fixed; 
				background-size: cover;
				display: flex; 
				justify-content: center;
				align-items: center;

				}

				.cont{
					width: 90%;
					height: 70%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
				}

				.cont .atas{
					height: 40%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}


				.cont .bawah{
					height: 60%;
					width: 100%;
					justify-content: center;
					align-items: center;
				}

				.form{
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: flex-end;

				}

				.buton{
					border-radius: 50px;
					padding: 2vh 3vh 2vh 3vh;
					outline: none;
					border: none;
					color: #9E9992;
					width: 90%;
					height: 50%;
					font-size: 1.3em;
					opacity: 0.7;
				}

				.title{
					overflow: hidden;
					height: 30%;
					width: 100%;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.3em;
				}

				.parrafo1{
					overflow: hidden;
					height: 60%;
					width: 100%;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: flex-start;
						font-size: 1.2em;
				}

				.button{
  list-style-type: none;
  display: inline-flex;
  margin: 20px;
  text-align: center;
  justify-content: center;
}

.btn{
  background-color: #000;
  border-radius: 20px solid #EDF32A ;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
  justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;

}

.btn:hover{
  background-color: #fff;
  color: #000;
}

.content-table{
	width: 80%;
	max-height: 100px;
	height: auto;
	background-color: #79C1D6;
	background-color: rgb(0,0,0,0.3);
	margin-left: 10px;
	overflow-y:visible;
	overflow-x: hidden; 
	border-radius: 8px;

}

.container-table table{
	width: 100%;
}

tbody tr td a{
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

tbody tr td a:hover{
	background-color: rgb(0,0,0,0.3);
}

#table_length, #table_filter, #table_info, #table_paginate{
	display: none;
}
  







